.articles {
  padding: toRem(65) toRem(35);
  background-color: $veryLightGray;
  @include breakpoint-up(large) {
    padding: toRem(108) toRem(140);
  }

  h2 {
    margin-bottom: toRem(20);
    text-align: center;

    @include breakpoint-up(large) {
      text-align: left;
      margin-bottom: toRem(40);
    }
  }

  &__container {
    @include breakpoint-up(large) {
      @include flex();

      :not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .card {
    background-color: $white;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform ease-in 0.1s;

    @include breakpoint-up(large) {
      margin-bottom: 0;
      flex: 1;
      height: 450px;
    }

    &:hover {
      transform: scale(1.02);
    }

    img {
      width: 100%;
      margin-bottom: 20px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      @include breakpoint-up(large) {
        height: 200px;
      }
    }

    span,
    h3,
    p {
      padding: 10px 20px;
    }

    span {
      font-size: toRem(12);
    }

    h3 {
      &:hover {
        color: $limeGreen;
      }

      @include breakpoint-up(large) {
        font-size: toRem(18);
      }
    }

    p {
      padding-bottom: 50px;
      margin-top: auto;
      font-size: 14px;
    }
  }
}
