header {
  position: relative;
  z-index: 1;
}

.nav {
  padding: 20px;
  @include flex(space-between, center);
  background-color: $white;

  &__links {
    position: absolute;
    top: 90px;
    width: calc(100% - 40px);
    background: $white;
    text-align: center;
    padding: toRem(35) 0;
    border-radius: 10px;

    a {
      font-size: toRem(18);
      display: block;
      color: $darkBlue;
      position: relative;

      @include breakpoint-up(large) {
        font-size: toRem(14);
        margin-left: toRem(30);

        &:hover::after {
          position: absolute;
          top: 50px;
          content: '';
          width: 100%;
          height: 5px;
          display: block;
          background-color: $limeGreen;
        }
      }
    }

    :not(:last-child) {
      margin-bottom: toRem(30);

      @include breakpoint-up(large) {
        margin-bottom: 0;
      }
    }

    @include breakpoint-up(large) {
      display: flex;
      position: static;
      width: auto;
      padding: 0;
      background: 0;
    }
  }

  @include breakpoint-up(large) {
    padding: toRem(23) toRem(160);
  }

  .show {
    display: block;
  }
}
